<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>578578808983-bjau4e9djg9fee86gkoekg875mas7u5d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.578578808983-bjau4e9djg9fee86gkoekg875mas7u5d</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>578578808983-e0ekguju1am5jcojkn53mmfqs630r2g2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBX343MRlYQp_R40qEuqjzngqXGocmz0jw</string>
	<key>GCM_SENDER_ID</key>
	<string>578578808983</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ati.mshop</string>
	<key>PROJECT_ID</key>
	<string>mshop-9dd12</string>
	<key>STORAGE_BUCKET</key>
	<string>mshop-9dd12.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:578578808983:ios:dc5d67052ca1ff6b</string>
	<key>DATABASE_URL</key>
	<string>https://mshop-9dd12.firebaseio.com</string>
</dict>
</plist>